<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-12 text-center">
      <label style="font-size:20px; color:black;">ネコ活一覧</label>
    </div>
  </div>
      <% @posts.each do |post| %>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-md-4">

        <div class="card mx-auto mt-4 shadow-lg">
          <%= link_to cat_path(post.cat_id) do %>
            <div>
              <%= image_tag post.cat.get_cat_image(50,50), class:"mt-1 mb-1 rounded-circle"; %>
              <span style="font-size:20px; color:gray;"><%= post.cat.name %></span>
            </div>
          <% end %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_post_image(500,500), class:"card-img-top";  %>
          <% end %>
          <span style="font-size:10px; color:gray;"><%= post.created_at.strftime('%Y/%m/%d') %> | 投稿者:<%= post.member.name %> | ネコ:
          <%= link_to cat_path(post.cat_id) do %>
          <%= post.cat.name %></span>
          <% end %>

          <span style="font-size:15px;"><%= post.content.truncate(24, separator: ' ') %></span>
          <p><span style="font-size:15px;"><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></span>｜
          <%= link_to "#{post.likes.count} いいね", post_path(post.id) %></p>
        </div>

    </div>
    <div class="col-4"></div>
  </div>
        <% end %>
</div>