新規投稿画面

<h1>ネコ活投稿フォーム</h1>
  <%= form_with model: @post,url: public_posts_path do |f| %>
    <%= f.collection_select :cat_id, @cat, :id, :name, include_blank: "ネコを選択して下さい" %>
    <h4>画像</h4>
      <%= f.file_field :post_image, accept: "image/*" %>
    <h4>投稿内容</h4>
      <%= f.text_area :content %>
    <label>タグ</label>
      <%= f.text_field :tag %>
    <%= f.submit '登録' %>
  <% end %>