<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-center">
      <div class="form-group">
        <label class="h4 mt-4">ネコ編集</label>
      </div>
      <% if @cat.errors.any? %>
        <h6><%= @cat.errors.count %>件のエラーが発生しました</h6>
        <ul>
          <% @cat.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
        
      <%= form_with model: @cat,url: cat_path do |f| %>
      

        <div>
          <p><%= image_tag @cat.get_cat_image(250,250) %></p>
        </div>      
      <div class="form-group">

        <label for="cat_image">画像</label>
        <%= f.file_field :cat_image, accept: "image/*" ,class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="name">名前</label>
        <%= f.text_field :name,class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="sex">性別</label>
        <%= f.text_field :sex,class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="age">年齢</label>
        <%= f.text_field :age,class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="cattype">ネコの種類</label>
        <%= f.text_field :cattype,class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="character">性格</label>
        <%= f.text_field :character,class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="profile">プロフィール</label>
        <%= f.text_field :profile,class:"form-control" %>
      </div>
      
      
      <div class="form-group">
      <%= f.submit "Update Cat", class: "btn btn-success"  %>
      </div>
      <% end %>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</div>