<div class="container">
  ネコ詳細
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 text-center">
      <p><%= image_tag @cat.get_cat_image(250,250) %></p>
    </div>
    <div class="col-4">
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-3 text-center">
      <label style="font-size:15px; ">親：<%= @cat.member.name %></label>
    </div>
    <div class="col-3 text-center">
      <label style="font-size:15px; ">お名前：<%= @cat.name %></label>
    </div>
    <div class="col-3">
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-3  text-center">
      <label style="font-size:15px; ">性別：<%= @cat.sex %></label>
    </div>
    <div class="col-3  text-center">
      <label style="font-size:15px; ">年齢：<%= @cat.age %></label>
    </div>
    <div class="col-3">
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-3 text-center">
      <label style="font-size:15px; ">ネコの種類：<%= @cat.cattype %></label>
    </div>
    <div class="col-3 text-center">
      <label style="font-size:15px; ">性格：<%= @cat.character %></label>
    </div>
    <div class="col-3">
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-center">
      <label style="font-size:15px;">プロフィール：<%= @cat.profile %></label>
    </div>
    </div>
    <div class="col-3">
    </div>
  
  </div>
  <div class="row">
    <div class="col-12 text-center">
    <% if @cat.member == current_member %>
      <td><%= link_to"Destroy",cat_path(@cat), method: :delete, class:"btn btn-sm btn-danger",data: { confirm: '本当に消しますか？' } %></td>
    <% end %>
    </div>
  </div>
</div>
