ネコ詳細

<div>
  <%= image_tag @cat.get_image %>
  <p>お名前：<%= @cat.name %></p>
  <p>性別：<%= @cat.sex %></p>
  <p>年齢：<%= @cat.age %></p>
  <p>ネコの種類：<%= @cat.cattype %></p>
  <p>性格：<%= @cat.character %></p>
  <p>プロフィール：<%= @cat.profile %></p>
</div>
