ネコ詳細

<div>
  <%= image_tag @cat.get_cat_image(100,100) %>
  <p>お名前：<%= @cat.name %></p>
  <p>性別：<%= @cat.sex %></p>
  <p>年齢：<%= @cat.age %></p>
  <p>ネコの種類：<%= @cat.cattype %></p>
  <p>性格：<%= @cat.character %></p>
  <p>プロフィール：<%= @cat.profile %></p>
</div>
<td><%= link_to"Destroy",admin_cat_path(@cat), method: :delete, class:"btn btn-sm btn-danger",data: { confirm: '本当に消しますか？' } %></td>