マイページ
<% @cats.each do |cat| %>
<div>
  <p><%= cat.name %>(<%= cat.sex %>)</p>
    <%= link_to public_cat_path(cat.id) do %>
    <%= image_tag cat.get_cat_image(100,100) %>
    <% end %>
</div>
<% end %>

<%= link_to "いいねした投稿",  public_member_likes_path(@member) %>