<div class="container px-5 px-sm-0">
  <div class="row">  
    <div class="col-12 text-center mt-2">
      <legend>マイページ</legend>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class=" card col-md-4 mb-4 text-center">
      <span style="font-size:20px;"><%= link_to "いいねした投稿",  likes_member_path(@member) %></span>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <label class="font-size:20px; ">登録ネコ</label>
    </div>
  </div>
  
  <% @cats.each do |cat| %>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-md-4">
        <div class="card mx-auto mt-4 shadow-lg text-center">
        <%= cat.name %>(<%= cat.sex %>)
        <%= link_to cat_path(cat.id) do %>
          <%= image_tag cat.get_cat_image(150,150) %>
        <% end %>
        </div>
      </div>
      <div class="col-4"></div>
  </div>
    <% end %>
  


  <div class="row">
    <div class="col-12 text-center mt-2">
      <label class="font-size:20px; ">投稿履歴</label>
    </div>
  </div>
  
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-md-4">
        <div class="card mx-auto mt-4 shadow-lg text-center">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_post_image(200,200) %>
        <% end %>
        <label><%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
        ネコ:<%= post.cat.name %></label>
        <%= post.content.truncate(24, separator: ' ') %>
        <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
        <%= link_to "#{post.likes.count} いいね", post_path(post.id) %></p>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  <% end %>

  <div class="col-xs-12 mt-3 text-center">
    <%= link_to "退会する", members_quit_path ,class: "btn btn-danger " %>
  </div>
</div>