<div class="container takasa">
  <div class="wd-text">
<legend>マイページ</legend>
<%= link_to "いいねした投稿",  likes_public_member_path(@member) %>

<p>登録ネコ</p>
<% @cats.each do |cat| %>
<div>
  <%= cat.name %>(<%= cat.sex %>)
    <%= link_to public_cat_path(cat.id) do %>
    <%= image_tag cat.get_cat_image(100,100) %>
    <% end %>
</div>
<% end %>

<p>投稿履歴</p>
<% @posts.each do |post| %>
  <div>
    <%= link_to public_post_path(post.id) do %>
    <%= image_tag post.get_post_image(200,200) %>
    <% end %>
    <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
    ネコ:<%= post.cat.name %>
    <%= post.content %>
       <p><%= link_to "#{post.comments.count} コメント", public_post_path(post.id) %>
       <%= link_to "#{post.likes.count} いいね", public_post_path(post.id) %></p>

  </div>
<% end %>

      </div>
      <div class="col-xs-3">
    <%= link_to "退会する", members_quit_path ,class: "btn btn-danger " %>
      </div>
      </div>
      </div>