

<div class="container"> 
  <div class="row">
    
<div class="col-md-3">
新着ネコ活一覧
<% @posts.each do |post| %>
  <div>
    <p>投稿者:<%= post.member.name %></p>
    <p>ネコ:<%= post.cat.name %></p>
    <%= link_to admin_post_path(post.id) do %>
    <%= image_tag post.get_post_image(200,200) %>
    <% end %>
    <p><%= post.content %></p>
       <p><%= link_to "#{post.comments.count} コメント", admin_post_path(post.id) %></p>

  </div>

<% end %>


</div>
</div>
</div>