
  <table align="center" border="1">
    <thead>
      <tr>
        <th>ネコ活</th>
        <th>ID</th>
        <th>ネコ</th>
        <th>タグ</th>
        <th>いいね</th>
        <th>本文</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag @post.get_post_image(100,100) %></td>
        <td><%= @post.id %></td>
        <td><%= @post.cat.name %></td>
        <td><%= @post.tag %></td>
        <td><%= @post.likes.count %></td>
        <td width="500"><%= @post.content %></td>
        <td><%= link_to"削除",admin_post_path(@post), method: :delete, class:"btn btn-sm btn-danger",data: { confirm: '本当に消しますか？' } %></td></td>
      </tr>
    </tbody>
  </table>
  
    <div align="center" ><p>コメント件数：<%= @post.comments.count %></p></div>
          <% @post.comments.each do |comment| %>
    <table align="center" border="1">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>日時</th>
        <th>コメント内容</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= comment.member.name %></td>
        <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, class:"btn btn-sm btn-danger",data: { confirm: '本当に消しますか？' }  %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
        <div align="center"><%= link_to "戻る", action: :index %></div>