<!DOCTYPE html>
<html>
  <head>
    <title>Nekomemashite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <h5>ネコ好きが集うコミュニティサイト</h5><br>
      <h1>nekomemashite</h1>
      <nav class="navbar navbar-default shadow-sm">
      <% if member_signed_in? %>
        <%= link_to "About", about_path, class:"btn btn-light" %>
        <%= link_to "ネコ活を投稿する", new_public_post_path, class:"btn btn-light" %>
        <%= link_to "ネコを登録する", new_public_cat_path, class:"btn btn-light" %>
        <%= link_to "マイページ", members_my_page_path, class:"btn btn-light" %>
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class:"btn btn-light" %>
        
      <% elsif admin_signed_in?%>
      <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
      
      <% else %>
        <%= link_to "About", about_path, class:"btn btn-light" %>
        <%= link_to "新規登録", new_member_registration_path, class:"btn btn-light" %>
        <%= link_to "ログイン", new_member_session_path, class:"btn btn-light" %>
        <%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post %>
        <% end %>
      </nav>
      
    </header>

    <%= yield %>
  </body>
</html>
